<!DOCTYPE html>
<html>
    <head>
        <title>Deccan Enclave</title>
        <link rel="icon" href="../static/logo3new.jpg">
        <link rel="stylesheet" href="../static/styleindex.css">
    </head>
    <body style="background-image: url(../static/mainpageback.jpg);">
        <div class="one">
            <nav>
                <img src="../static/headlogo.png">
                <h1 class="header">DECCAN ENCLAVE</h1>                
            </nav>
        </div>
        <hr>
        <div class="row">
            <div class="coloumn" style="display: flex;">
                <a class="dash" href="../templates/dashboard.html">
                    DASHBOARD
                </a>
            </div>
            <div class="column" style="display: flex;">
                <a class="que" href="../templates/queries.html">QUERIES</a>
            </div>
            <div class="column" style="display: flex;">
                <a class="maintain" href="../templates/">
                    MAINTAINANCE
                </a>
            </div>
        </div>
        <div class="row1">
            <div class="column1" style="display: flex;">
                <a class="avail" href="../templates/avail.html">HOUSES AVAILABILITY</a>
            </div>
            <div class="column1" style="display: flex;">
                <a class="update" href="../templates/update.html">UPDATION</a>
            </div>
        </div>            
    </body>
</html>
